:root {
  --primary-color-50: #cce1f5;
  --primary-color-100: #80b3e5;
  --primary-color-200: #3489d7;
  --primary-color-300: #1a4d7f;
  --primary-color-400: #0d2740;

  --neutral-color-50: #e0e0e0;
  --neutral-color-100: #b3b3b3;
  --neutral-color-200: #808080;
  --neutral-color-300: #4d4d4d;
  --neutral-color-400: #262626;

  --red-color-50: #f7caca;
  --red-color-100: #ea7b7b;
  --red-color-200: #dc2626;
  --red-color-300: #841515;
  --red-color-400: #420b0b;

  --green-color-50: #c9f8da;
  --green-color-100: #78eda3;
  --green-color-200: #1ee166;
  --green-color-300: #12873d;
  --green-color-400: #09431f;

  --orange-color-50: #fde8c4;
  --orange-color-100: #f9c56c;
  --orange-color-200: #f59e0a;
  --orange-color-300: #935f06;
  --orange-color-400: #492f03;

  --semantic-color-success: #16a34a;
  --semantic-color-warning: #f59e0b;
  --semantic-color-error: #dc2626;
  --semantic-color-info: #0ea5e9;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 48px;
  --spacing-3xl: 64px;

  --font-size-h1: 30px;
  --font-size-h2: 28px;
  --font-size-h3: 20px;
  --font-size-large: 18px;
  --font-size-medium: 16px;
  --font-size-button: 16px;
  --font-size-small: 14px;

  --bg-color: #ffffff;
  --text-color-primary: #323232;
  --text-color-secondary: #ffffff;

  --font-family-title: 'Roboto Condensed', sans-serif;
  --font-family-body: 'Droid Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

h1 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-h1);
}
h2 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-h2);
}
h3 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-h3);
}

body {
  font-family: var(--font-family-body);
  font-size: var(--font-size-medium);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

/*------------
Button primary
------------*/

.button-primary-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button-primary-lg {
  height: fit-content;
  width: fit-content;
  padding: 20px;
  border-radius: 8px;
  border-color: var(--primary-color-200);
  border-style: none;
  background-color: var(--primary-color-200);
  color: var(--text-color-secondary);
  font-family: var(--font-family-body);
  font-size: var(--font-size-button);
}
.button-primary-lg:hover {
  background-color: var(--primary-color-300);
  cursor: pointer;
}

.button-primary-md {
  height: fit-content;
  width: fit-content;
  padding: 16px;
  border-radius: 8px;
  border-color: var(--primary-color-200);
  border-style: none;
  background-color: var(--primary-color-200);
  color: var(--text-color-secondary);
  font-family: var(--font-family-body);
  font-size: var(--font-size-button);
}
.button-primary-md:hover {
  background-color: var(--primary-color-300);
  cursor: pointer;
}

.button-primary-sm {
  height: fit-content;
  width: fit-content;
  padding: 12px;
  border-radius: 8px;
  border-color: var(--primary-color-200);
  border-style: none;
  background-color: var(--primary-color-200);
  color: var(--text-color-secondary);
  font-family: var(--font-family-body);
  font-size: var(--font-size-button);
}
.button-primary-sm:hover {
  background-color: var(--primary-color-300);
  cursor: pointer;
}

/*------------
Button danger
------------*/

.button-danger-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button-danger-lg {
  height: fit-content;
  width: fit-content;
  padding: 20px;
  border-radius: 8px;
  border-color: var(--red-color-200);
  border-style: none;
  background-color: var(--red-color-200);
  color: var(--text-color-secondary);
  font-family: var(--font-family-body);
  font-size: var(--font-size-button);
}
.button-danger-lg:hover {
  background-color: var(--red-color-300);
  cursor: pointer;
}

.button-danger-md {
  height: fit-content;
  width: fit-content;
  padding: 16px;
  border-radius: 8px;
  border-color: var(--red-color-200);
  border-style: none;
  background-color: var(--red-color-200);
  color: var(--text-color-secondary);
  font-family: var(--font-family-body);
  font-size: var(--font-size-button);
}
.button-danger-md:hover {
  background-color: var(--red-color-300);
  cursor: pointer;
}

.button-danger-sm {
  height: fit-content;
  width: fit-content;
  padding: 12px;
  border-radius: 8px;
  border-color: var(--red-color-200);
  border-style: none;
  background-color: var(--red-color-200);
  color: var(--text-color-secondary);
  font-family: var(--font-family-body);
  font-size: var(--font-size-button);
}
.button-danger-sm:hover {
  background-color: var(--red-color-300);
  cursor: pointer;
}
/*------------
Button warning
------------*/

.button-warning-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button-warning-lg {
  height: fit-content;
  width: fit-content;
  padding: 20px;
  border-radius: 8px;
  border-color: var(--orange-color-200);
  border-style: none;
  background-color: var(--orange-color-200);
  color: var(--text-color-secondary);
  font-family: var(--font-family-body);
  font-size: var(--font-size-button);
}
.button-warning-lg:hover {
  background-color: var(--orange-color-300);
  cursor: pointer;
}

.button-warning-md {
  height: fit-content;
  width: fit-content;
  padding: 16px;
  border-radius: 8px;
  border-color: var(--orange-color-200);
  border-style: none;
  background-color: var(--orange-color-200);
  color: var(--text-color-secondary);
  font-family: var(--font-family-body);
  font-size: var(--font-size-button);
}
.button-warning-md:hover {
  background-color: var(--orange-color-300);
  cursor: pointer;
}

.button-warning-sm {
  height: fit-content;
  width: fit-content;
  padding: 12px;
  border-radius: 8px;
  border-color: var(--orange-color-200);
  border-style: none;
  background-color: var(--orange-color-200);
  color: var(--text-color-secondary);
  font-family: var(--font-family-body);
  font-size: var(--font-size-button);
}
.button-warning-sm:hover {
  background-color: var(--orange-color-300);
  cursor: pointer;
}
/*------------
Button outline
------------*/

.button-outline-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button-outline-lg {
  height: fit-content;
  width: fit-content;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--neutral-color-100);
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  font-family: var(--font-family-body);
  font-size: var(--font-size-button);
}
.button-outline-lg:hover {
  background-color: var(--neutral-color-200);
  color: var(--text-color-secondary);
  cursor: pointer;
}

.button-outline-md {
  height: fit-content;
  width: fit-content;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--neutral-color-100);
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  font-family: var(--font-family-body);
  font-size: var(--font-size-button);
}
.button-outline-md:hover {
  background-color: var(--neutral-color-200);
  color: var(--text-color-secondary);
  cursor: pointer;
}

.button-outline-sm {
  height: fit-content;
  width: fit-content;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--neutral-color-100);
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  font-family: var(--font-family-body);
  font-size: var(--font-size-button);
}
.button-outline-sm:hover {
  background-color: var(--neutral-color-200);
  color: var(--text-color-secondary);
  cursor: pointer;
}
/*------------
Button outline
------------*/

.button-ghost-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button-ghost-lg {
  height: fit-content;
  width: fit-content;
  padding: 20px;
  border-radius: 8px;
  border-color: var(--neutral-color-100);
  border-style: none;
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  font-family: var(--font-family-body);
  font-size: var(--font-size-button);
}
.button-ghost-lg:hover {
  background-color: var(--neutral-color-200);
  color: var(--text-color-secondary);
  cursor: pointer;
}

.button-ghost-md {
  height: fit-content;
  width: fit-content;
  padding: 16px;
  border-radius: 8px;
  border-color: var(--neutral-color-100);
  border-style: none;
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  font-family: var(--font-family-body);
  font-size: var(--font-size-button);
}
.button-ghost-md:hover {
  background-color: var(--neutral-color-200);
  color: var(--text-color-secondary);
  cursor: pointer;
}

.button-ghost-sm {
  height: fit-content;
  width: fit-content;
  padding: 12px;
  border-radius: 8px;
  border-color: var(--neutral-color-100);
  border-style: none;
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  font-family: var(--font-family-body);
  font-size: var(--font-size-button);
}
.button-ghost-sm:hover {
  background-color: var(--neutral-color-200);
  color: var(--text-color-secondary);
  cursor: pointer;
}

/*------------
Tableau
------------*/
.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-sm);
  padding: var(--spacing-md);
  margin: var(--spacing-md);
  width: 90%;
}

tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-sm);
  padding: var(--spacing-3xl);
}

th {
  background-color: var(--primary-color-200);
  color: var(--text-color-secondary);
}
td {
  color: var(--primary-color-400);
}
/*Titre de chaque colonne*/

.table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-sm);
}
.table-header-row {
  border: 1px solid var(--primary-color-200);
  padding: var(--spacing-3xl);
  background-color: var(--primary-color-200);
}

/* Ligne 1 du tableau */

.table-row-1,
.table-cell-1 {
  background-color: var(--primary-color-50);
}
/* Ligne 2 du tableau */

.table-row-2,
.table-cell-2 {
  background-color: var(--bg-color);
}
@media (min-width: 768px) {
  .table-container {
    width: 90%;
  }
}

/* NavBar */
nav{
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color-200);
  height: fit-content;
  width: 100%;
  padding: 18px 16px;
  align-items: center;
}
nav img{
  height: 64px;
  border-radius: 8px;
}
nav div, nav div a{
  background-color: transparent;
}
nav div a{
  padding:12px;
  color: white;
  text-decoration: none;
}
/*------------
Dropdown Menu
------------
*/
.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}
.dropdown-content {
  padding: var(--spacing-sm);
  border-radius: 4px;
  max-width: 800px;
  min-width: 300px;
  border: 1px solid var(--neutral-color-200);
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  font-family: var(--font-family-body);
  font-size: var(--font-size-medium);
}
.dropdown-content:hover .dropdown-content {
  border-color: var(--primary-color-300);
  box-shadow: 0 0 0 2px var(--primary-color-100);
  display: block;
}
.dropdown-content:active {
  border-color: var(--primary-color-400);
  box-shadow: 0 0 0 2px var(--primary-color-200);
  background-color: var(--primary-color-200);
  cursor: pointer;
}
.dropdown select option{
  background-color: var(--primary-color-200);

/*---
Icons
---*/

.icon-archive {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='m12 18l4-4l-1.4-1.4l-1.6 1.6V10h-2v4.2l-1.6-1.6L8 14zM5 8v11h14V8zm0 13q-.825 0-1.412-.587T3 19V6.525q0-.35.113-.675t.337-.6L4.7 3.725q.275-.35.687-.538T6.25 3h11.5q.45 0 .863.188t.687.537l1.25 1.525q.225.275.338.6t.112.675V19q0 .825-.587 1.413T19 21zm.4-15h13.2l-.85-1H6.25zm6.6 7.5'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.icon-submited {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='m12.7 14.05l5.65-5.65l-1.4-1.45l-4.25 4.25l-2.15-2.1l-1.4 1.4zM8 18q-.825 0-1.412-.587T6 16V4q0-.825.588-1.412T8 2h12q.825 0 1.413.588T22 4v12q0 .825-.587 1.413T20 18zm-4 4q-.825 0-1.412-.587T2 20V6h2v14h14v2z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.icon-profile {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='black' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M16 9a4 4 0 1 1-8 0a4 4 0 0 1 8 0m-2 0a2 2 0 1 1-4 0a2 2 0 0 1 4 0'/%3E%3Cpath d='M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11s11-4.925 11-11S18.075 1 12 1M3 12c0 2.09.713 4.014 1.908 5.542A8.99 8.99 0 0 1 12.065 14a8.98 8.98 0 0 1 7.092 3.458A9 9 0 1 0 3 12m9 9a8.96 8.96 0 0 1-5.672-2.012A6.99 6.99 0 0 1 12.065 16a6.99 6.99 0 0 1 5.689 2.92A8.96 8.96 0 0 1 12 21'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.icon-add {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='black' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12m10-8a8 8 0 1 0 0 16a8 8 0 0 0 0-16'/%3E%3Cpath d='M13 7a1 1 0 1 0-2 0v4H7a1 1 0 1 0 0 2h4v4a1 1 0 1 0 2 0v-4h4a1 1 0 1 0 0-2h-4z'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.icon-home {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8'/%3E%3Cpath d='M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.icon-history {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M13 3a9 9 0 0 0-9 9H1l3.89 3.89l.07.14L9 12H6c0-3.87 3.13-7 7-7s7 3.13 7 7s-3.13 7-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42A8.95 8.95 0 0 0 13 21a9 9 0 0 0 0-18m-1 5v5l4.28 2.54l.72-1.21l-3.5-2.08V8z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.icon-login {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M12 21v-2h7V5h-7V3h7q.825 0 1.413.588T21 5v14q0 .825-.587 1.413T19 21zm-2-4l-1.375-1.45l2.55-2.55H3v-2h8.175l-2.55-2.55L10 7l5 5z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.icon-logout {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h7v2H5v14h7v2zm11-4l-1.375-1.45l2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5z'/%3E%3C/svg%3E");
}
.icon-delete {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zm2-4h2V8H9zm4 0h2V8h-2z'/%3E%3C/svg%3E");
}
.icon-edit {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M5 21h14c1.1 0 2-.9 2-2v-8h-2v8H5V5h8V3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2'/%3E%3Cpath fill='%23000' d='M7 14v2c0 .55.45 1 1 1h2c.27 0 .52-.11.71-.29l7.65-7.65l-3.41-3.41L7.3 13.3a1 1 0 0 0-.29.71Zm13.71-7.29a.996.996 0 0 0 0-1.41l-2-2a.996.996 0 0 0-1.41 0l-1.65 1.65l3.41 3.41z'/%3E%3C/svg%3E");
}
.icon-check {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m9.55 18l-5.7-5.7l1.425-1.425L9.55 15.15l9.175-9.175L20.15 7.4z'/%3E%3C/svg%3E");
}
.icon-notification {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23000' d='m32.85 28.13l-.34-.3A14.4 14.4 0 0 1 30 24.9a12.6 12.6 0 0 1-1.35-4.81v-4.94A10.81 10.81 0 0 0 19.21 4.4V3.11a1.33 1.33 0 1 0-2.67 0v1.31a10.81 10.81 0 0 0-9.33 10.73v4.94a12.6 12.6 0 0 1-1.35 4.81a14.4 14.4 0 0 1-2.47 2.93l-.34.3v2.82h29.8Z' class='clr-i-solid clr-i-solid-path-1'/%3E%3Cpath fill='%23000' d='M15.32 32a2.65 2.65 0 0 0 5.25 0Z' class='clr-i-solid clr-i-solid-path-2'/%3E%3Cpath fill='none' d='M0 0h36v36H0z'/%3E%3C/svg%3E");
}
.icon-chevron-down {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m5.84 9.59l5.66 5.66l5.66-5.66l-.71-.7l-4.95 4.95l-4.95-4.95z'/%3E%3C/svg%3E");
}
.icon-chevron-up {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m5.84 15.41l5.66-5.66l5.66 5.66l-.71.7l-4.95-4.95l-4.95 4.95z'/%3E%3C/svg%3E");
}
.icon-search {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14'/%3E%3C/svg%3E");
}

.icon:hover {
  scale: 1.2;
}
/*----
Inputs
----*/

label > span {
  color: var(--red-color-200);
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-container p {
  color: var(--neutral-color-200);
}
.input-default {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-default > input {
  outline: none;
  border: 1px solid var(--primary-color-100);
  font-family: var(--font-family-body);
  font-size: var(--font-size-medium);
  border-radius: 8px;
  padding: 8px 16px;
}

.input-default > input:focus {
  border: 2px solid var(--primary-color-200);
}

.input-filled {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-filled > input {
  outline: none;
  border: 1px solid var(--primary-color-100);
  font-family: var(--font-family-body);
  font-size: var(--font-size-medium);
  border-radius: 8px;
  padding: 8px 16px;
}

.input-filled > input:focus {
  border: 2px solid var(--primary-color-200);
}

.input-error {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-error > input {
  outline: none;
  border: 2px solid var(--red-color-100);
  font-family: var(--font-family-body);
  font-size: var(--font-size-medium);
  border-radius: 8px;
  padding: 8px 16px;
}

.input-error > input:focus {
  border: 2px solid var(--red-color-200);
}

.input-error p {
  color: var(--red-color-200);
}

.input-disabled {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-disabled > input {
  outline: none;
  border: 1px solid var(--primary-color-100);
  font-family: var(--font-family-body);
  font-size: var(--font-size-medium);
  border-radius: 8px;
  padding: 8px 16px;
  cursor: not-allowed;
}

.input-disabled > input:focus {
  border: 2px solid var(--primary-color-200);
}
/* Badges */
.badges{
  display: flex;
  align-items: center;
  font-family: var(--font-family-body);
  font-size: var(--font-size-medium);
  gap: 6px;
  padding: 0 var(--spacing-md);
  border-radius: 10px;
}
.badge-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.badges p{
  background-color: transparent;
}

/* Badges grey color */
.badges-neural{
  background-color: color-mix(in srgb, var(--neutral-color-200) 20%, transparent);
  color: var(--neutral-color-200);
}
.badge-dot-neural{
  background-color: var(--neutral-color-200);
}

/* Badges primary color */
.badges-primary{
  background-color: color-mix(in srgb, var(--semantic-color-info) 20%, transparent);
  color: var(--semantic-color-info);
}
.badge-dot-primary{
  background-color: var(--semantic-color-info);
}

/* Badges success color */
.badges-success{
  background-color: color-mix(in srgb, var(--semantic-color-success) 20%, transparent);
  color: var(--semantic-color-success);
}
.badge-dot-success{
  background-color: var(--semantic-color-success);
}

/* Badges warning color */
.badges-warning{
  background-color: color-mix(in srgb, var(--semantic-color-warning) 20%, transparent);
  color: var(--semantic-color-warning);
}
.badge-dot-warning{
  background-color: var(--semantic-color-warning);
}

/* Badges error color */
.badges-error{
  background-color: color-mix(in srgb, var(--semantic-color-error) 20%, transparent);
  color: var(--semantic-color-error);
}
.badge-dot-error{
  background-color: var(--semantic-color-error);
}
